html{
    width: 100%;
    height: 100%;
    background-color: #320d3e;
    margin: 0;
}
body{
    margin: 0;
}
#main{
    max-width: 360px;
    margin:auto;
    color: #dcdbdb;
}
h1,h2{
    text-align: center;
    font-family: 'Caveat Brush';
}
h1{
    font-size: 72px;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
h2{
    margin-top: 1vh;
    margin-bottom: 3vh;
}
h3{
    font-family: 'Roboto', sans-serif;
}
.inputs{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
.p1n{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 4vh;
    outline-color: #D902EE;
    font-size: 18px;
    border: 0;
    background-color: #FFD79D;
    color: #403228;
    text-align: center;
    width: 93%;
    height: 5vh;
    margin-right: auto;
    margin-left: auto;
}
.p2n{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    border: 0;
    background-color: #D902EE;
    color: #FFFFFF;
    text-align: center;
    width: 93%;
    height: 5vh;
    margin-bottom: 8vh;
    margin-right: auto;
    margin-left: auto;
}
.p1n::placeholder{
    font-family: 'Roboto', sans-serif;
    color: #403228;
    text-align: center;
}
.p2n::placeholder{
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    text-align: center;
}
.drink{
    font-family: 'Caveat Brush';
    font-size: 2.5em;
    width: 100%;
    height: 15vh;
    background-color: #F162FF;
    text-align: center;
}
#accueil{
    width: 100%;
    height: 100%;
}
.hidden{
    display: none;
}
#game h1{
    font-size: 48px;
}
#newGame{
    font-family: 'Caveat Brush';
    background-color: #F162FF;
    font-size: 48px;
    width: 100%;
    height: 10vh;
    margin-bottom: 1.5vh;
}
#quest{
    text-align: center;
    width: fit-content;
    word-wrap: break-word;
    font-family: 'Caveat Brush';
    font-size: 36px;
    margin: auto;
    max-width: 320px;
    margin-bottom: 2.5vh;
}
.btncont{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 2vh;
}
#skull{
    height: 8vh;
    font-family: 'Caveat Brush';
    font-size: 36px;
    width: 40%;
    background-color: #FFD79D;
    border-radius: 10px;
}
#flower{
    height: 8vh;
    font-family: 'Caveat Brush';
    font-size: 36px;
    width: 40%;
    background-color: #D902EE;
    color: #FFDFFF;
    border-radius: 10px;
}
#sorties{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#sorties img {
    width: 50px;
}
#infos{
    margin: 2.5vw;
}
#infos div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
#player{
    font-family: 'Roboto', sans-serif;
    word-break: break-word;
    font-size: 18px;
}
#numbOneShots , #numbSofts, #numbStrongs{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
}